@import "tailwindcss";

@plugin "daisyui";

/* them */

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
.dark {
  color: white;
}

/* Toggle work  */
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* data light and dark theme */

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.navbar {
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--border-color);
}
