@import "tailwindcss";

@plugin "daisyui";

/* them */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
.dark {
  color: white;
}

/* Toggle work  */
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: green;
  --color-secondary: #03373d;
  --color-black: #00000;
}

.navbar {
  background-color: var(--nav-bg);
  border-bottom: 1px solid var(--border-color);
}
